:root {
  --em-size: 16px;
  --font: system-ui, sans-serif;

  --c-surface: white;
  --c-surface-accent: SeaShell;
  --c-surface-light: #fcfcfc;
  --c-ink: #333;
  --c-border: rgba(0, 0, 0, 0.15);
  --c-accent: cornflowerblue;
  --c-accent-hover: darkslateblue;
}

@media (prefers-color-scheme:dark) {
  :root {
    --c-surface: #242424;
    --c-surface-accent: darkslateblue;
    --c-surface-light: #1f1f1f;
    --c-ink: #efefef;
    --c-border: rgba(255, 255, 255, 0.15);
    --c-accent: moccasin;
    --c-accent-hover: peachpuff;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.15); */
}

html,
body {
  font-family: var(--font);
  font-size: var(--em-size);
  background-color: var(--c-surface);
  color: var(--c-ink);
}

body {
  padding: 4rem 2rem;
  max-width: 56rem;
  margin: 0 auto;
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--c-border);
  margin: 2rem 0 2rem 0;
}

section {
  margin-bottom: 4rem;
}

header {
  margin-bottom: 4rem;
}

header>* {
  text-align: center;
  margin-bottom: 1rem;
}

header>h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
ul,
table,
pre,
code,
blockquote {
  margin-bottom: 1rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav:first-child {
  margin-right: auto;
}

nav>*:nth-child(2) {
  margin-left: auto;
}

table {
  display: block;
  border-radius: 0.5rem;
  border: 1px solid var(--c-border);
  width: 100%;
  margin: 2rem 0;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid var(--c-border);
}

tr:nth-child(even) {
  background-color: var(--c-surface-light);
}

th,
td {
  padding: 0.5rem 1rem;
}

tbody>tr:last-child {
  border-bottom: none;
}

th:first-of-type {
  border-top-left-radius: 0.5rem;
}

th:last-of-type {
  border-top-right-radius: 0.5rem;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 0.5rem;
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 0.5rem;
}

blockquote>p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 2rem;
  font-weight: 300;
  display: block;
  text-align: center;
  border: 1px solid var(--c-border);
  border-radius: 0.5rem;
}

textarea {
  display: block;
  width: 100%;
  height: 16rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--c-ink);
  border: 1px solid var(--c-border);
  background-color: var(--c-surface-light);
  margin-bottom: 2rem;
  resize: none;
  font-size: 0.85rem;
  line-height: 2;
  font-family: monospace;
}

footer {
  padding: 1rem 0;
}

footer>p {
  font-size: 0.85rem;
  margin: 0;
  text-align: center;
}

a,
a:link,
a:visited {
  color: var(--c-accent);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--c-accent-hover);
  text-decoration: underline;
}

a[target="_blank"]::after {
  content: " ↗";
}

p {
  font-family: var(--font);
  font-weight: normal;
  color: var(--c-ink);
  font-size: 1rem;
  /* line-height: 1.5; */
}

ul {
  padding-left: 1rem;
}

code {
  font-family: monospace;
  font-size: 0.9rem;
  background-color: var(--c-surface-accent);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

@media (max-width: 720px) {
  :root {
    --em-size: 14px;
  }
}
