.markdown {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: var(--outer); */
    width: 100%;
    max-width: var(--mwdth);
    margin: 0 auto;
    /* overflow-x: hidden; */
}

/* .markdown>* {
    margin-bottom: 2rem;
} */
.markdown>p,
.markdown>ul,
.markdown>ol,
.markdown>li {
    width: 100%;
    max-width: var(--hwdth);
    padding: 0;
    /* margin: 0 auto; */
    margin: 0 auto 1rem auto;
}

.markdown ol > li {
    margin-left: 2rem;
}

.markdown ul > li {
    margin-left: 2rem;
}


.markdown h1 {
    max-width: var(--hwdth);
    margin: 0 auto 3rem auto;
}

.markdown h2,
.markdown h3 {
    max-width: var(--hwdth);
    margin: 2rem auto 1rem auto;
}

.markdown img {
    display: block;
    margin-left: -6vw;
    width: calc(100% + 12vw);
    border-radius: var(--border-radius-large);
    outline: 1px solid var(--color-border-static);
    outline-offset: -1px;
    margin: 2rem -6vw;
    /* box-shadow: inset 0 0 1px 10px var(--color-border-static); */
}

.markdown a,
.markdown a:link,
.markdown a:visited {
    --color-text: var(--color-text);
    --color-border: var(--color-border-static);
    display: inline;
    padding: 2px;
    text-decoration: underline;
    text-decoration-color: var(--color-cta);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: all;
    text-underline-offset: 2px;
    color: var(--color-text);
    font-variation-settings: 'wght' 600;
    font-weight: 600;
    transition: all 0.2s;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.markdown a:hover {
    color: var(--color-cta-hover);
    text-decoration-color: var(--color-cta-hover);
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
}

.markdown a:active {
    color: var(--color-cta-active);
    text-decoration-color: var(--color-cta-active);
}

.markdown a:focus {
    outline: none;
    color: var(--color-cta-active);
    text-decoration-color: var(--color-button-ring);
}

.markdown>blockquote {
    width: 100%;
    max-width: var(--hwdth);
    margin: 2rem auto;
}


.markdown>blockquote>p {
    text-align: right;
    /* display: block; */
    /* max-width: var(--mwdth); */
    /* margin: 0 auto; */
    text-wrap: balance;
    color: var(--color-title);
    font-family: var(--font-header);
    font-variation-settings: 'opsz' 80, 'wght' 440;
    font-weight: 440;
    line-height: 100%;
    font-size: 3rem;
}

.markdown table {
    display: block;
    border-radius: 1rem;
    border: 2px solid var(--color-border-static);
    width: 100%;
    background-color: var(--color-paper-light);
    background-image: url("/static/assets/specks_dark_button.png"), url("/static/assets/specks_light_button.png");
    background-size: 200px 200px, 400px 400px;
    background-repeat: repeat;
    margin: 2rem auto;
}

tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid var(--color-border-static);
}

th,
td {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* tr>td:last-child,
tr>th:last-child {
    width: 30%;
    background-color: var(--paper);
} */
tbody>tr:last-child {
    border-bottom: none;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

@media (max-width: 1100px) {
    .markdown>blockquote>p {
        font-size: 3rem;
    }
}

@media (max-width: 672px) {
    .markdown>p>img {
        border-radius: 0;
    }

    .markdown>blockquote>p {
        font-size: 2.4rem;
    }
}
